 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 814px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 598px;
  margin: 307px auto 0;
}

.u-section-1 .u-table-1 {
  margin: 50px auto 60px;
}

.u-section-1 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 1.125rem;
}

.u-section-1 .u-table-body-1 {
  line-height: 1.6;
  background-image: none;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-5 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-6 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-8 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-9 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-block-e8fb-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}